name: Hassfest

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  hassfest:
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout
        uses: "actions/checkout@v4"
      - name: Hassfest validation
        uses: "home-assistant/actions/hassfest@master"
